  *{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    }
  
  .link-website {
    color: #803841;
    text-decoration: none;
  }
  .link-website:hover {
    color: #803841;
    text-decoration: underline;
  }
  .link-website:focus{
    box-shadow: 0 0 0 0.25rem transparent!important;
  }
  /* navbar style */
  .link-navbar, .navbar-brand {
	  font-weight: 600;
	  color: #48141A!important;
    text-decoration: none;
  }

  .link-navbar-item {
    padding:7px;
  }

  .button-navbar{
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    padding: 7px;
    line-height: 1.7em;
   }
  .button-navbar:hover{
    background-color: rgba(255, 255, 255, 0.8);
  }
  .navbar-icon {
    padding: 10px;
    font-size: 20px;
    color: #803841;
  }
  .navbar-icon:hover{
    color: #48141A;
  }

  /* style home */
  
  .image-home{
	background: url(../images/image-home.jpg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 120vh;
  }
  
  .super-title-home{
  font-weight: 900;
  font-size: 70px;
  line-height: 108.3%;
  color: #803841;
  }
  .text-how{
  font-weight: 700;
  font-size: 40px;
  line-height: 92.8%;
  color: #161A26;
  }
  
  .btn-home{
  background: #FDFDFD;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 125.8%;
  color: #803841;
  justify-content: space-between;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  }
  
  .how-icon{
	  color: #161A26;
  }
  
  /*mission section */
  .mission {
	background-image: url(../images/image-mission.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
  }
  
  .mission-container{
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .title-home {
	  font-weight: 600;
  font-size: 60px;
  line-height: 1.5em
  }
  
  .text-home {
	  font-weight: 500;
	  font-size: 20px;
	  line-height: 1.2em
  }
  
  .footer-home {
	  background-color: #161A26;
	  color: #fff;
  }
  
  .title-footer-home {
	  font-weight: 600;
	  font-size: 40px;
	  line-height: 1.5em
  }

  /* style faq section */
  .faq {
	  background-color: #fff;
  }
  .card {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  .card-header {
    border-bottom: 0px transparent!important;
  }
/* ----------------- end style home -------------- */

/* ------------------ style login register ------------ */
.form-control{
  border-radius: 10px!important;
}
.form-label {
  margin-bottom: 0.3rem!important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent !important;
}

.wrapper-login {
	position: relative;
	background-image: url(../images/back-login.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	/*filter: blur(8px);
  -webkit-filter: blur(8px);*/
}

.container-access {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50px;
}

.login-title{
  font-family: 'Archivo', sans-serif;
  font: bolder;
  text-align: center;
}

.password-input{
  margin-bottom: 5vh;
}

.Link-registrati{
  margin-top: 10px;
}

.login-button{
  font-size: 20px;
  color: white;
  background-color: #803841;
  border-color: transparent;
  border-radius: 10px;
  /*delete after*/
  padding: 7px;
}

.login-button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*delete after*/
  color: white;
}

.radioUser{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.radio__radio{
  width: 1.25em;
  height: 1.25em;
}


/* ------------------ style offerta ------------ */
.single-offerta{
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 2rem;
}
.single-offerta:hover{
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  cursor:pointer;
}
.offerta-view {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 2rem;
}
.title-offerta{
  font-weight: 600;
  font-size: 25px;
  line-height: 125.8%;
}
.subtitle-offerta{
  font-weight: 500;
  font-size: 15px;
  line-height: 125.8%;
}
.image-offerta{
    border-radius: 20px;
    border: solid 1px transparent;
}
.price-offerta {
  font-size: 20px;
}

.img-carousel{
  object-fit: cover;
  height: 50vh;
  border-radius: 20px;
}







/* MEDIA CSS */