  *{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    }
  .navbar-toggler-icon{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .link-website {
    color: #803841;
    text-decoration: none;
  }
  .link-website:hover {
    color: #803841;
    text-decoration: underline;
  }
  .link-website:focus{
    box-shadow: 0 0 0 0.25rem transparent!important;
  }
  /* navbar style */
  .link-navbar, .navbar-brand {
	  font-weight: 600;
	  color: #48141A!important;
    text-decoration: none;
  }

  .link-navbar-item {
    padding:7px;
  }

  .button-navbar{
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    padding: 7px;
    line-height: 1.7em;
   }
  .button-navbar:hover{
    background-color: rgba(255, 255, 255, 0.8);
  }
  .navbar-icon {
    padding: 10px;
    font-size: 20px;
    color: #803841;
  }
  .navbar-icon:hover{
    color: #48141A;
  }
  .logout-button, .chat-button {
    color: #66171A;
    border-color: transparent;
    border-radius: 10px;
    padding: 5px;
  }
  .logout-button:hover {
    background-color: #66171A;
    color: white;
  }
  .chat-button {
    font-size: 20px;
  }
  .chat-button:hover {
    color: #48141A;
  }
  .btn:focus {
    box-shadow: none!important;
  }

  /* style paginator */
  .paginate {
    background-color: #66171A;
    border-radius: 5px;
  }
  .link-paginate {
    color: #ddd;
  }
  .link-paginate:hover {
    color: white;
  }

  /* style home */
  
  .image-home{
	background: url(../images/image-home.jpg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 120vh;
  }
  
  .super-title-home{
  font-weight: 900;
  font-size: 70px;
  line-height: 108.3%;
  color: #803841;
  }
  .text-how{
  font-size: 20px;
  color: #161A26;
  }
  .text-how-title {
    color: #161A26;
    font-weight: 700;
  }
  
  .btn-home{
  background: #FDFDFD;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 125.8%;
  color: #803841;
  justify-content: space-between;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  }
  
  .how-icon{
	  color: #161A26;
  }
  
  /*mission section */
  .mission {
	background-image: url(../images/image-mission.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
  }
  
  .mission-container{
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .title-home {
	  font-weight: 600;
  font-size: 60px;
  line-height: 1.5em
  }
  
  .text-home {
	  font-weight: 500;
	  font-size: 20px;
	  line-height: 1.2em
  }
  
  .footer-home {
	  background-color: #161A26;
	  color: #fff;
    bottom: 0;
    left:0;
    right:0;
  }
  
  .title-footer-home {
	  font-weight: 600;
	  font-size: 40px;
	  line-height: 1.2em;
  }

  /* style faq section */
  .faq {
	  background-color: #fff;
  }
  .card {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  .card-header {
    border-bottom: 0px transparent!important;
  }
/* ----------------- end style home -------------- */

/* ------------------ style login register ------------ */
.form-control{
  border-radius: 11px!important;
  border: 2px solid #ced4da;
}
.form-label {
  margin-bottom: 0.3rem!important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border: 3px solid #66171A;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent !important;
}

.wrapper-login {
	position: relative;
	background-image: url(../images/back-login.jpg);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
	/*filter: blur(8px);
  -webkit-filter: blur(8px);*/
}

.container-access {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50px;
}

.login-title{
  font-family: 'Archivo', sans-serif;
  font: bolder;
  text-align: center;
}

.password-input{
  margin-bottom: 5vh;
}

.Link-registrati{
  margin-top: 10px;
}

.login-button{
  font-size: 20px;
  color: white;
  background-color: #803841;
  border-color: transparent;
  border-radius: 10px;
  /*delete after*/
  padding: 7px;
}

.login-button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*delete after*/
  color: white;
}

.radioUser{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.radio__radio{
  width: 1.25em;
  height: 1.25em;
}


/* ------------------ style offerta ------------ */
.single-offerta{
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 2rem;
}
.single-offerta:hover{
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}
.offerta {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 2rem;
}
.offerta-view {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 2rem;
}
.title-offerta{
  font-weight: 600;
  font-size: 25px;
  line-height: 125.8%;
}
.subtitle-offerta{
  font-weight: 500;
  font-size: 15px;
  line-height: 125.8%;
}
.image-offerta{
    border-radius: 20px;
    border: solid 1px transparent;
}
.price-offerta {
  font-size: 20px;
}

.img-carousel{
  object-fit: cover;
  height: 50vh;
  border-radius: 20px;
}





/*--------------------- ADMIN ----------------------*/
.addfaq {
  cursor: pointer;
}

.addfaq a{
  font-size: 20px;
  background-color: rgb(248, 245, 245);
  padding: 7px;
  border-radius: 7px;
  color: #803841;
  text-decoration: none;
}

.linkfaq a {
  font-size: 14px;
  color:#212529;
  padding: 5px;
  font-weight: 400;
  margin-right: 5px;
  text-decoration: none;
}
.linkfaq a:hover {
  text-decoration: underline;
}

/*popup style*/
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

#popupAdd, #popupDel, #popupUpdate, #popupMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: #fff;
  z-index: 200;
  border-radius: 15px;
}

.closePopup {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
.popupcontent {
  padding: 10px;
}
.title-popup {
  font-size: 22px;
  font-weight: 500;
}
.form-textarea {
  max-width: 70vw;
  max-height: 20vh;
  border-radius: 20px;
  padding: 10px;
}
.button-form {
    font-size: 16px;
    color: white;
    background-color: #66171A;
    border-color: transparent;
    border-radius: 10px;
    padding: 5px;
}

/*style stats form*/
.form-date-stats {
  border-radius: 15px;
    padding: 7px;
    border: 1px solid black
}
.form-radio-stats:hover input{
  background-color: #ccc;
}
.stats {
  background-color: #eee;
  border-radius: 8px;
}
.stats-card {
  background-color: #66171A;
    border-radius: 10px;
}
.icon-stats {
  font-size: 35px;
  color: white;
}
.title-card-stats {
  color: #ddd;
  font-size: 18px;
}
.result-stats {
  font-size: 50px;
  color: white;
}
.title-stats {
  font-size: 1rem;
  font-weight: 500;
}


/* ------------------ style chat ---------------------- */
.title-chat {
  color: white!important;
}

.chat-subtitle {
  color: #aaa;
}

.single-message{
  background-color: #DDD;
  border-radius: 8px;
  padding: 10px;
}
.info-message {
  font-size: 12px;
}

.item-chat{
  background-color: rgb(237, 234, 234);
    border-radius: 21px;
    text-align: center;
    margin-left: 10px;
}

.item-chat:hover{
  background-color: #66171A;
}

.active-chat{
  background-color: #66171A;
}

.single-chat-link {
  color: #000;
}
.single-chat-link:hover {
  color: #f9f9f9;
}

#errMessaggio {
  color: #aaa;
}
/* MEDIA CSS */



.radio-form {
  accent-color: #66171A;
  transform: scale(1.5);
}

.select-form {
  border-radius: 8px;
  border: 1px solid #aaa;
}

.details-offerta {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}


/* stile contratto */
.title-contratto {
  font-size: 40px;
  font-weight: 600;
}
.subtitle-contratto {
  font-size: 25px;
  font-weight: 500;
}
.title-offer {
  text-decoration: underline;
}
.descrizione-offerta {
  font-weight: 500;
}
.box-firma {
  height: 7vh;
    width: 35vh;
    border-bottom: solid 2px black;
}

/*style filters*/
.filters{
    background-color: #eee;
    border-radius: 15px;
    padding: 15px;
    display: none;
}
